# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Ambientes virtuais
venv/
.venv/
env/

# Cache local de dados
data/cache/
*.db
*.sqlite
*.sqlite3

# IDEs
.vscode/
.idea/

# Logs
*.log

# Streamlit
.streamlit/secrets.toml
